.page{
    /*--ion-background-color: rgb(198, 213, 218);
    background-color: rgb(198, 213, 218);
    --ion-background-color: linear-gradient(to bottom, rgb(235, 240, 243) 0%, rgb(68, 103, 116) 100%);*/
    background: linear-gradient(to right, rgb(9, 36, 63) 0%,  dodgerblue 50%, rgb(9, 36, 63) 100%);
    --ion-background-color: linear-gradient(to right, rgb(9, 36, 63) 0%,  dodgerblue 50%, rgb(9, 36, 63) 100%);
}
.backdrop{
    position: absolute;
    z-index: 99999999999999;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate3d(-50%, -50%, 0);
    animation: modal 0.3s linear forwards;
    background-color: rgb(0, 0, 0, 0.50);
}
.background-image{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/beach.jpg);
}
.login-main-container{
    height: 98vh;
}
.login-container{
    width: 100%;
    padding: 50px;
    background-color: rgb(0, 0, 0, 0.30);
}
.login-container ion-item{
    border-radius: 5px;
    margin-bottom: 20px;
}
.inline{
    display: inline-block;
    
}
.label-hover:hover{
    background-color: lightgray;
}
.link-hover:hover{
    color: lightgray;
    text-decoration: underline;
}
.no-select{
    user-select: none;
}
.h-seperator{
    margin-bottom: 3px;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 3px lightgray;
}
.v-seperator{
    border-right: 1px solid lightgray;
}
.more-option-float{
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    border-top: 1px solid gray;
    border-bottom: 1px solid white;
}
.float-top-center{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.float-top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.float-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.float-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
.float-left{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.float-right{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.float-bottom-left{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.float-bottom-right{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.float-bottom-overflow{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}
.item-center{
    margin-left: 50%;
    transform: translateX(-50%);
}
.sales-item-header-container{
    
}
.sales-item-container{
    position: relative;
    height: 59%;
    max-height: 450px;
    overflow-y: auto;
    background-color: lightgray;
}
.sales-item-container::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: lightgray;
}
.sales-item-container::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 5px;
    margin-left: 10px;
}
.cost-display{
    height: 16%;
    border-top: 1px solid white;
}
.sales-item-name-header{
    width: 60%;
    padding: 5px;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid lightgray;
    overflow: hidden;
}
.sales-item-qty-header{
    width: 20%;
    padding: 5px;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid lightgray;
    overflow: hidden;
}
.sales-item-qty{
    position: relative;
    width: 20%;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid lightgray;
    overflow: hidden;
}
.sales-item-qty input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 5px;
    background-color: transparent;
}
.sales-item-price-header{
    width: 20%;
    padding: 5px;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid lightgray;
    overflow: hidden;
}
.sales-item{
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 2px;
    height: 100px;
    margin-bottom: -2px;
    user-select: none;
}
.sales-item-sub{
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
}
.screen-height{
    width: 100%;
    height: 100vh;
}
.search-container{
    display: flex;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: white;
    background: linear-gradient(to bottom, white 0%, rgb(151, 150, 150) 100%);
}
.search-container ion-icon{
    font-size: 25px;
}
.search-container input{
    outline: none;
    border: none;
    width: 100%;
    padding-left: 5px;
    border-radius: 15px;
    background: linear-gradient(to bottom, white 0%, rgb(212, 212, 212) 100%);
}
.max-width{
    width: 100%;
}
.max-height{
    height: 100%;
}
.max-size{
    width: 100%;
    height: 100%;
}
.max-screen-height{
    height: 100vh;
}
.half-width{
    width: 50%;
}
.scroll{
    overflow-y: auto;
}
.text-right{
    text-align: right;
}
.pad{
    padding: 8px;
}
.pad-mini{
    padding: 5px;
}
.pad-xl{
    padding: 15px;
}
.pad-xxl{
    padding: 30px;
}
.pad-v{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-v-xl{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-h{
    padding-left: 10px;
    padding-right: 10px;
}
.pad-h-xl{
    padding-left: 25px;
    padding-right: 25px;
}
.border-l-r{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.no-wrap{
    white-space: nowrap;
}
.dark{
    color: white;
    /*background-color: rgb(48, 46, 46);*/
    background: linear-gradient(to bottom, rgb(95, 95, 95) 0%, rgb(5, 5, 5) 100%);
    --ion-background-color: linear-gradient(to bottom, rgb(95, 95, 95) 0%, rgb(5, 5, 5) 100%);
}
.dark-r{
    color: white;
    background: linear-gradient(to right, rgb(95, 95, 95) 0%, rgb(5, 5, 5) 100%);
    --ion-background-color: linear-gradient(to v, rgb(95, 95, 95) 0%, rgb(5, 5, 5) 100%);
}
.dark-hover:hover{
    background: linear-gradient(to bottom, rgb(117, 114, 114) 0%, rgb(36, 35, 35) 100%);
}
.silver{
    background: linear-gradient(to right, gray 0%, white 50%, gray 100%);
    --ion-background-color: linear-gradient(to right, gray 0%, white 50%, gray 100%);
}
.success{
    color: white;
    /*background-color: green;*/
    background: linear-gradient(to bottom, rgb(8, 172, 8) 0%, rgb(0, 26, 0) 100%);
}
.success:hover{
    background-color: rgb(58, 141, 58);
}
.danger{
    color: white;
    /*background-color: red;*/
    background: linear-gradient(to bottom, rgb(241, 62, 62) 0%, rgb(46, 1, 1) 100%);
}
.danger:hover{
    background-color: rgb(247, 64, 64);
}
.dodger{
    color: white;
    /*background-color: dodgerblue;*/
    background: linear-gradient(to bottom, dodgerblue 0%, rgb(1, 22, 43) 100%);
}
.dodger:hover{
    background-color: rgb(70, 162, 253);
}
.dark-blue{
    color: white;
    /*background-color: rgb(38, 76, 99);*/
    background: linear-gradient(to bottom, rgb(19, 192, 250)0%, rgb(1, 41, 54)100%);
}
.dark-blue:hover{
    color: orange;
    text-shadow: 1px 1px 1px black;
}
.teal{
    color: white;
    /*background-color: rgb(5, 80, 80);*/
    background: linear-gradient(to bottom, rgb(5, 80, 80) 0%, rgb(0, 36, 36) 100%);
}
.input-style{
    color: white;
    background: linear-gradient(to bottom, rgb(26, 133, 240) 0%, rgb(9, 36, 63) 100%);
}
.teal:hover{
    background-color: rgb(6, 92, 92);
}
.more-option-item-container{
    width: 60%;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgb(109, 105, 105);
}
.font{
    font-size: 15px;
}
.font-mini{
    font-size: 14px;
}
.font-xl{
    font-size: 20px;
    font-weight: bold;
}
.customer-image-icon{
    font-size: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    color: rgb(48, 46, 46);
    background: linear-gradient(to bottom, rgb(235, 240, 243) 0%, rgb(129, 155, 170) 100%);
}
.more-option-btn{
    display: inline;
    margin-left: 20px;
    padding-right: 20px;
}
.click:active{
    transform: scale(1.02);
}
.close{
    position: absolute;
    z-index: 999999999999999;
    top: 5px;
    right: 5px;
    font-size: 25px;
}
.close:hover{
    color: orangered;
}
.close-hover:hover{
    color: orangered;
}
.dropdown{
    z-index: 999;
    color: black;
    width: auto;
    white-space: nowrap;
    background-color: white;
}
.dropdown div{
    padding: 5px;
}
.dropdown div:hover{
    background-color: skyblue;
}
.error{
    color: red;
    text-align: center;
}
.singin-error{
    color: red;
    width: 100%;
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
}
.menu-caintainer{
    position: absolute;
    z-index: 99999999999;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: red;
    --ion-background-color: red;
}
.menu-sub-caintainer{
    width: 250px;
    height: 100vh;
    padding: 0;
    background-color: blue;
    --ion-background-color: blue;
}
.menu-container{
    position: relative;
    z-index: 9999999999;
    max-width: 250px;
    height: 100vh;
    white-space: nowrap;
    transition: all 1s;
    box-shadow: 2px 2px 5px rgb(9, 36, 63);
    background: linear-gradient(to right, rgb(9, 36, 63) 0%,  dodgerblue 50%, rgb(9, 36, 63) 100%);
    --ion-background-color: linear-gradient(to right, rgb(9, 36, 63) 0%,  dodgerblue 50%, rgb(9, 36, 63) 100%);
}
.menu-container ion-list-header{
    color: white;
}
.menu-container ion-note{
    color: white;
}
.menu-button{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    --ion-background-color: linear-gradient(to bottom, dodgerblue 0%, rgb(9, 36, 63) 100%);
}
.menu-button-selected{
    color: orange;
    /*border-left: 5px solid white;*/
}
.menu-button ion-icon{
    color: white;
}
.item-container{
    padding: 50px;
    user-select: none;
    background-color: transparent;
}
.item-info-container{
    display: inline-block;
    min-width: 250px;
    width: 33.33%;
}
.item-sub-info-container{
    width: auto;
    border: 1px solid gray;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    color: rgb(230, 218, 196);
    background: linear-gradient(to bottom, dodgerblue 0%, rgb(9, 36, 63) 100%);
}
.item-sub-info-container:hover{
    background: linear-gradient(to bottom, gray 0%, rgb(8, 8, 8) 100%);
}
.item-sub-info-container:active{
    box-shadow: 0px 0px 20px rgb(9, 36, 63);
}
.item-info-container ion-thumbnail{
    width: 80px;
    height: 80px;
    padding-right: 5px;
}
.add-btn{
    font-size: 20px;
    padding: 5px;
    margin: 15px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(9, 85, 161);
    background: linear-gradient(to bottom, rgb(26, 133, 240) 0%, rgb(9, 36, 63) 100%);
}
.add-btn-2{
    font-size: 50px;
    border-radius: 50%;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(9, 36, 63);
    background: linear-gradient(to bottom, rgb(26, 133, 240) 0%, rgb(9, 36, 63) 100%);
}
.add-btn:active{
    box-shadow: 1px 1px 5px rgb(9, 36, 63);
}
.add-btn-2:active{
    box-shadow: 1px 1px 5px rgb(9, 36, 63);
}
.fixed{
    position: fixed;
    z-index: 999999999;
    top: 0;
}
.hide-on-desktop{
    display: none;
}
.menu-content-page{
    padding-top: 60px;
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/beach.jpg);
}
.menu-toolbar-container{
    width: 85%;
    height: 63px;
    background-color: white;
    background: linear-gradient(to right, rgb(9, 36, 63) 0%,  dodgerblue 50%, rgb(9, 36, 63) 100%);
}
.menu-toolbar-search{
    width: 40%;
}
.hamburger-menu{
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(9, 36, 63);
    background: linear-gradient(to right, rgb(26, 133, 240) 0%, rgb(9, 36, 63) 100%);
}
.hamburger-menu:active{
    box-shadow: 1px 1px 2px rgb(9, 36, 63);
}
.entry-input-container{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.input{
    outline: none;
    padding: 7px;
    width: 100%;
    border-radius: 50px;
    color: black;
    border: 1px solid rgb(167, 165, 165);
}
.popup-bg{
    color: white;
    background: linear-gradient(to bottom, rgb(26, 133, 240) 0%, rgb(9, 36, 63) 100%);
    --ion-background-color: linear-gradient(to bottom, rgb(26, 133, 240) 0%, rgb(9, 36, 63) 100%);
}
.link{
    color: gray;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}
.add-product-pop-thumbnail{
    position: relative;
    width: 100%;
    height: 350px;
    padding: 10px;
}
.add-product-pop-thumbnail:hover{
    background-color: lightgray;
}
.add-image-icon{
    margin: 15px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    user-select: none;
    box-shadow: 1px 1px 2px black;
    background-color: white;
}
.popup-header{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: white;
}
.dollar-sign{
    position: relative;
}
.dollar-sign input{
    padding-left: 13px;
}
.dollar-sign::after{
    position: absolute;
    content: "$";
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
}
.scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: linear-gradient(to right, dodgerblue 0%, rgb(1, 18, 34) 100%);
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 1px solid gray;
    background: linear-gradient(to right, lightgray 0%, rgb(22, 22, 22) 100%);
}
.scrollbar::-webkit-scrollbar-button{
    color: black;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(to right, lightgray 0%, rgb(22, 22, 22) 100%);
}
.btn-font{
    font-size: 15px;
}
.radius{
    border-radius: 5px;
}
.pointer{
    cursor: pointer;
}
.popup-container{
    position: relative;
    width: 50%;
    height: 60vh;
    min-height: 600px;
}
.entry-action-sub{
    width: 100%;
    height: 65%;
    user-select: none;
    padding-left: 20px;
    padding-right: 20px;
    background: inherit;
}
.entry-action-mini{
    height: 85%;
    padding: 5px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px white;
}
.entry-action-add-btn{
    font-size: 30px;
    float: right;
    color: white;
    margin-bottom: 10px;
}
.customer-item-container{
    margin-bottom: 5px;
}
.customer-item-container:hover{
    color: orange;
}
.alert-container{
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    user-select: none;
}
.alert-container button{
    box-shadow: 1px 1px 5px black;
    margin-left: 10px;
}
.alert-container button:active{
    box-shadow: 1px 1px 2px black;
}
.refund-container{
    width: 95%;
    height: 70%;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px black;
}